<div class="gallery grid">
    
  
 
  <div class="gallery__item gallery__item--3">
    {{!-- <img src="img/gallery/3.jpg" class="gallery__img" alt="Image 3"> --}}
  </div>
  <div class="gallery__item gallery__item--4">
    {{!-- <img src="img/gallery/4.jpg" class="gallery__img" alt="Image 4"> --}}
  </div>
  <div class="gallery__item gallery__item--5">
    {{!-- <img src="img/gallery/5.jpg" class="gallery__img" alt="Image 5"> --}}
  </div>
  <div class="gallery__item gallery__item--6">
    {{!-- <img src="img/gallery/6.jpg" class="gallery__img" alt="Image 6"> --}}
  </div>
  <div class="gallery__item gallery__item--7">
    {{!-- <img src="img/gallery/7.jpg" class="gallery__img" alt="Image 7"> --}}
  </div>
  <div class="gallery__item gallery__item--8">
    {{!-- <img src="img/gallery/8.jpg" class="gallery__img" alt="Image 8"> --}}
   </div>
  <div class="gallery__item gallery__item--9">
    {{!-- <img src="img/gallery/9.jpg" class="gallery__img" alt="Image 9"> --}}
  </div>
  <div class="gallery__item gallery__item--10">
    {{!-- <img src="img/gallery/10.jpg" class="gallery__img" alt="Image 10"> --}}
  </div>
  <div class="gallery__item gallery__item--11">
    {{!-- <img src="img/gallery/11.jpg" class="gallery__img" alt="Image 11"> --}}
  </div>
  <div class="gallery__item gallery__item--12">
    {{!-- <img src="img/gallery/12.jpg" class="gallery__img" alt="Image 12"> --}}
   </div>
  <div class="gallery__item gallery__item--13">
    {{!-- <img src="img/gallery/13.jpg" class="gallery__img" alt="Image 13"> --}}
  </div>
</div>