
<section class="list-necessary grid">
<h1>Документы, необходимые для прохождения технического осмотра:</h1>    
{{#each necessary}}

    <section class="list-necessary-to-item ">
        - {{.}}


    </section>




{{/each}}
</section>