<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width,initial-scale=1.0">
		<title>{{title}}</title>
		<link rel="icon" href="/favicon.ico" type="image/x-icon">
       <link rel="stylesheet" type="text/css" href="/style/style.css"/>
       <script src="/scripts/loginscript.js"></script>
	</head>
	<body class="grid">
		
		<main class="main grid">
			{{{body}}}
		</main>
		
		
	</body>
</html>