<section class="wrapAdmin grid">
    <section class="adminNav grid">
        {{>admin/nav}}
    </section>
    <section class="adminContent grid">
        {{>admin/content}}
    </section>
</section>