{{!-- Предварительная запись --}}
{{#if registration}}
<section class="title-registration grid">
 <span class="to-main-page">На главную страницу</span></section>
{{>registration/registration}}
{{/if}}
{{#if getRegRab}}
{{>registration/regrab}}
{{/if}}