{{!-- <p class="titleRazdel">О нас</p> --}}
<p class="contentRazdel">Свердловская областная коллегия адвокатов - старейшая адвокатская коллегия Свердловской области. Авторитетные и опытные адвокаты. Пожалуй, единственная организация, на адвокатов которой можно положиться и доверять им.</p>
<section class="listemployees grid">{{>main/listemployees}}</section>