<nav class="nav grid">
    <p class="nav__link" data-razdel="aboutus"><span class="nav__link__content">О нас</span></p>
    <p class="nav__link" data-razdel="services"><span class="nav__link__content">Услуги</span></p>
    <p class="nav__link" data-razdel="faq"><span class="nav__link__content">Частозадаваемые вопросы</span></p>
</nav>