{{!-- <section class="title title__wash">Заголовок автомойки</section> --}}
<section class="title title__wash grid">
    <section class="content grid">
        <section class="content__washtitle grid"></section>
    </section>
</section>
{{!-- <section class="wrapcontent grid">
    <section class="content">
       <section class="content__wash grid">
            <div>1 услуга автомойки</div>
            <div>2 услуга автомойки</div>
            <div>3 услуга автомойки</div>
        </section> 
    </section>
</section> --}}