<section class="razdel grid">
    <article class="razdel__title">Объявления</article>
    <section class="razdel__href grid">
        <a href="/admin/listnews" class="href">Список объявлений (удаление/редактирование)</a>
        <a href="/admin/addnews" class="href">Добавление объявления</a>   
    </section>


</section>
<section class="razdel grid">
    <article class="razdel__title">Предварительная запись</article>
    <section class="razdel__href grid">
        <a href="/admin/regrab" class="href">Режимы работы</a>   
        <a href="/admin/calendar" class="href">Рабочий календарь</a>
        <a href="/admin/listregistration" class="href">Лист предварительной записи</a>   
        
    </section>


</section>
